$secondaryColor: #e5e9eb;

#movie-card {
  height: 600px;
  margin-top: 12px;
  margin-bottom: 12px;
}

#card-header-mc {
  height: 100px;
  background-color: $secondaryColor;
}

#card-footer-mc {
  background-color: $secondaryColor;
}

#movie-image-mc {
  max-width: 100%;
  height: 300px;
}

#movie-title-mc {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 20px;
  text-align: center;
}

#movie-description-mc {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
