#card-header{
    background-color:#e5e9eb;
    height:100px;
}
#card-footer{
    background-color:#e5e9eb
}

#movie-image{
    max-width: 100%;
    height: 300px;
}

#movie-title{
    height:100%;
    font-size: 20px;
    text-align:center;
    
    
}

#movie-card{
    width:100%;
    height: 600px;
    margin-top: 12px;
    margin-bottom: 12px;
    
}
#movie-description{
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
   
    font-size: 16px;
   
}